<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">-->
    
    <html>
    <head>
        <title>Book Lending</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        <!-- Custom styles for this template -->
        <link href="/resources/static/heroes.css" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="~{navbar.html::navbar}"></div>
        <main>
            
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Welcome User</h1>
                        <p class="lead text-body-secondary">You are welcome to our Book Lending website, this website helps you to borrow 
                        and read the books you love. Create an account to get started</p>
                        <p>
                            <a href="#" class="btn btn-primary my-2">Get Started</a>
                            <a href="#" class="btn btn-secondary my-2">About Us</a>
                        </p>
                    </div>
                </div>
            </section>
            
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
                        <div class="col">
                            <div class="card shadow-sm">
<!--                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                                <img width="100%" height="225" src="img/the_court_mist_ fury.jpg" class="rounded card-img">
<div class="card-body">
                                    <p class="card-text" align="justify">
                                        <h5>Rent A Court of Mist and Fury</h5>
                                       <h6>Sarah J. Maas</h6>
                                        <textarea id="bookDescription" name="bookDescription" rows="3" cols="50">
                                        Feyre has undergone more trials than one human woman can carry in 
                                        her heart. Though she's now been granted the powers and lifespan 
                                        of the High Fae, she is haunted by her time Under the Mountain and 
                                        the terrible deeds she performed to save the lives of Tamlin and 
                                        his people. As her marriage to Tamlin approaches, Feyre's 
                                        hollowness and nightmares consume her. She finds herself split 
                                        into two different people: one who upholds her bargain with Rhysand, 
                                        High Lord of the feared Night Court, and one who lives out her 
                                        life in the Spring Court with Tamlin. While Feyre navigates a 
                                        dark web of politics, passion, and dazzling power, a greater evil 
                                        looms. She might just be the key to stopping it, but only if she 
                                        can harness her harrowing gifts, heal her fractured soul, and 
                                        decide how she wishes to shape her future--and the future of a 
                                        world in turmoil. Bestselling author Sarah J. Maas's masterful 
                                        storytelling brings this second book in her dazzling, sexy, 
                                        action-packed series to new heights.
                                    </textarea>
                                </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        
                        <div class="col">
                            <div class="card shadow-sm">
<!--                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                                    <img width="100%" height="225" src="img/the_bone_bed.jpg" class="rounded card-img">
                                <div class="card-body">
                                    <p class="card-text" align="justify">
                                    <h5>The Life and Times of the Wicked Witch of the West</h5>
                                    <h6>Gregory Maguire</h6>
                                    <textarea id="bookDescription" name="bookDescription" rows="3" cols="50">
                                        When Dorothy triumphed over the Wicked Witch of 
                                        the West in L. Frank Baum's classic tale, we heard only her side 
                                        of the story. But what about her arch-nemesis, the mysterious 
                                        Witch? Where did she come from? How did she become so wicked? 
                                        Gregory Maguire creates a fantasy world so rich and vivid that we 
                                        will never look at Oz the same way again. Wicked is about a land 
                                        where animals talk and strive to be treated like first-class 
                                        citizens, Munchkinlanders seek the comfort of middle-class 
                                        stability, and the Tin Man becomes a victim of domestic violence. 
                                        And then there is the little green-skinned girl named Elphaba, who
                                        will grow up to become the infamous Wicked Witch of the West'a 
                                        smart, prickly, and misunderstood creature who challenges all our 
                                        preconceived notions about the nature of good and evil.
                                    </textarea>
                                        </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="card shadow-sm">
<!--                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                                <img width="100%" height="225" src="img/wicked.jpg" class="rounded card-img">
                                <div class="card-body">
                                    <p class="card-text" align="justify">
                                    <h5>The Bone Bed (A Scarpetta Novel)</h5>
                                    <h6>Patricia Cornwell</h6>

                                    When Dorothy triumphed over the Wicked Witch of 
                                    the West in L. Frank Baum's classic tale, we heard only her side 
                                    of the story. But what about her arch-nemesis, the mysterious 
                                    Witch? 
                                </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary me-2">Borrow</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Wish List</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            
<!--            <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 mb-3">Machine Fault Detector</h1>
                    <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-light">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                        <hr class="my-4">
                        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                    </form>
                </div>
            </div>
        </div>-->
        </main>
        <div th:insert="~{footer.html::footer}"></div>
         <script src="/bootstrap/js/bootstrap.min.js"></script>
         <script src="/jquery/js/jquery.min.js"></script>
        
    </body>
</html>
